# Template from cookiecutter

pip
bump2version
wheel
watchdog
tox
coverage
Sphinx
twine
ruff

# EHIPR
requests
geobr
pandas
geopandas
tqdm
python-dateutil
gdal[numpy]
fiona
shapely
numpy
psutil
fastparquet
pyarrow

# EDPU

bdc-catalog @ git+https://github.com/Harmonize-Brazil/bdc-catalog.git@master
bdc-db @ git+https://github.com/brazil-data-cube/bdc-db@v0.6.3
geoserver-rest @ git+https://github.com/YuriDomaradzki/geoserver-rest.git@dev
geoserver-restconfig @ git+https://github.com/Harmonize-Brazil/geoserver-restconfig
paramiko
jsonpath_rw
psycopg2-binary
psycopg2
rasterio
geoalchemy2
flask
docker

# EDDPR

#numpy<2.0
matplotlib
affine
geopy
jsonpath_rw_ext
timezonefinder[pytz]
defusedxml
opencv-python
tqdm

