# Template from cookiecutter

pip
bump2version
wheel
watchdog
tox
coverage
Sphinx
twine
ruff

# EHIPR
python==3.10
requests
geobr
pandas
geopandas
tqdm
python-dateutil
numpy
gdal[numpy]
fiona
shapely
psutil
fastparquet
pyarrow

# EDPU

python==3.10
bdc-catalog @ git+https://github.com/Harmonize-Brazil/bdc-catalog.git@master
bdc-db @ git+https://github.com/brazil-data-cube/bdc-db@v0.6.3
geoserver-rest @ git+https://github.com/YuriDomaradzki/geoserver-rest.git@dev
geoserver-restconfig @ git+https://github.com/Harmonize-Brazil/geoserver-restconfig
paramiko
jsonpath_rw
psycopg2-binary
psycopg2
rasterio
geoalchemy2
flask
docker

# EDDPR

matplotlib
affine
geopy
jsonpath_rw_ext
timezonefinder[pytz]
defusedxml
opencv-python
tqdm

# ECLIMPR

#GDAL==3.4.3
Jinja2
MarkupSafe
SQLAlchemy
Unidecode
attrs
branca
cdsapi
certifi
cffi
cfgrib
cftime
charset-normalizer
click
click-plugins
cligj
contourpy
cycler
datapi
eccodes
epiweeks
et_xmlfile
findlibs
folium
fonttools
greenlet
h5netcdf
h5py
html5lib
idna
kiwisolver
lxml
multiurl
natsort
netCDF4
openpyxl
packaging
pillow
pycparser
pyogrio
pyparsing
pyproj
pytz
rioxarray
six
typing_extensions
tzdata
urllib3
webencodings
xarray
xyzservices
